<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--

    """
    1 is green grass
    2 is red grass
    3 is sand
    4 is gold
    5 is brick
    6 is bush
    7 is tree
    8 is road
    9 is neon pink
    10 is neon blue
    11 is neon orange
    """
  -->
  <link rel="preload" href="https://Fonts.GoogleAPIs.com/css?family=Baloo" as="style">
<link rel="stylesheet" href="https://Fonts.GoogleAPIs.com/css?family=Baloo">

  <button id="place_stone" onclick="on_click_stone()">place stone mode</button>
  <button id="place_collision" onclick="on_click_collision()">place collision mode</button>
  <button id="mine_mode" onclick="on_click_mine()">mine and pvp mode</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <span id="username">{{username}}</span>
  <span id="quadrant"></span>
  <span id="balance"></span>
  <span id="planet"></span>
  <button onclick="leave_planet()">Leave planet!</button>
  <textarea id="textbox"></textarea>
  <button onclick="post_chat()">enter chat!</button>

  <div id="chatbox"></div>
  <script>
    var WIDTH=150
    var HEIGHT=210
    var block_height = []
    for (let i=0;i<=5;i++){
      block_height.push([])
      for (let v=0;v<=5;v++){
        block_height[i].push(Math.random()*50)
      }
    }
    function post_chat(e){
      var chat=document.getElementById("textbox").value
      var opts = {
        username:username,
        message:chat,
      }
        fetch('/make_chat', {
          method: 'POST',
          headers: {
  'Content-Type': 'application/json',
  },
          body: JSON.stringify(opts)
        })
        document.getElementById("textbox").value=""
    }
    function get_chat(){
      var messages=[]
      var opts = {
        username:username,
      }
      fetch('/get_chat', {
        method: 'POST',
        headers: {
'Content-Type': 'application/json',
},
        body: JSON.stringify(opts)
      }).then(function(response) {
      return response.text();
    }).then(function(text){
      messages=JSON.parse(text)
          var html_val=""
    for(i in messages){
      html_val+= "<br>"+messages[i]
    }
      document.getElementById("chatbox").innerHTML=html_val
      //console.log(collisions)
    })

    }
    setInterval(get_chat,2000)
    function leave_planet(e){
      // Simulate an HTTP redirect:
      window.location.replace("/space_player");
    }
    function on_click_stone(e){
      place_stone_button=true
      place_collision_button=false
      mine_mode_button=false
    }
    function on_click_mine(e){
      place_stone_button=false
      place_collision_button=false
      mine_mode_button=true
    }
    function on_click_collision(e){
      place_stone_button=false
      place_collision_button=true
      mine_mode_button=false
    }
    var pause = false
    function get_planet_data(){
      var opts = {
        username:username,
        coordinates:JSON.stringify([x,y]),
        landscape_edits:JSON.stringify(landscape_edit),
        collision_delete:JSON.stringify(collisions_delete),
        collision_create:JSON.stringify(collision_edit),
      }
      fetch('/planet_game_loop', {
        method: 'POST',
        headers: {
'Content-Type': 'application/json',
},
        body: JSON.stringify(opts)
      }).then(function(response) {
      return response.text();
    }).then(function(text){
      blocks = JSON.parse(text)[0][0]
      collisions = JSON.parse(text)[0][1]
      players = JSON.parse(text)[1]
      quadrant = JSON.parse(text)[2]
      document.getElementById("quadrant").innerHTML="planet quadrant : "+quadrant
      document.getElementById("planet").innerHTML="planet : "+JSON.parse(text)[3]
      document.getElementById("balance").innerHTML="balance : "+JSON.parse(text)[4]
      //console.log(collisions)
    })
    landscape_edit=[]
    collision_edit=[]
    }
    var quadrant=""
    var collisions_delete=[]
    var collisions=[]
    var xspeed=0
    var yspeed=0
    var x=500
    var y=500
    var players = []
    var username = document.getElementById("username").innerHTML
    var colours = ["green","red","yellow","yellow","red","green","green","black","red","blue","yellow"]
    var blocks=[]


    var grass;
    var red_grass;
    var bush;
    var neon_blue;
    var neon_pink;
    var neon_orange;
    var road;
    var rock;
    var sand;
    var tree;
    var gold;
    var anger=false
    var place_stone_button=false
    var place_collision_button=false
    var mine_mode_button=true
    var place_stone=false
    var place_collision=false



    var landscape_edit=[]
    var collision_edit=[]
    var block_hp = []

    function setup() {
      createCanvas(1000, 700,WEBGL);
      textFont("baloo");
      ambientLight(255);
      textSize(20);
      for (let i=0; i<=10;i++){
      block_hp.push([])
      for (let v=0;v<=10;v++){
        block_hp[i].push(100)
      }
    }
      console.log(block_hp)

      grass = loadImage ('static/grass.png');
      red_grass = loadImage ('static/red_grass.png');
      bush = loadImage ('static/bush.jpg');
      neon_blue = loadImage ('static/neon_blue.png');
      neon_orange = loadImage ('static/neon_blue.png');
      neon_pink = loadImage ('static/neon_blue.png');
      road = loadImage ('static/road.jpg');
      rock = loadImage ('static/rock.jpg');
      sand = loadImage ('static/sand.jpg');
      tree = loadImage ('static/tree.jpg');
      gold = loadImage ('static/gold.jpg');


      //colours = [grass,red_grass,sand,gold,rock,bush,tree,road,neon_pink,neon_blue,neon_orange]
      opts={username: username}
      fetch('/planet_join', {
        method: 'POST',
        headers: {
'Content-Type': 'application/json',
},
        body: JSON.stringify(opts)
      }).then(function(response) {
      return response.text();
    }).then(function(text){
      blocks = JSON.parse(text)[0]
    })
    setInterval(get_planet_data,500)
    //console.log(colours)
    }
    var count=0
    var count2 = 0






    //THIS PART TO BE CONVERTED TO THREEJS


    function draw() {
      if (pause==false){
        /*camera(500, -700 ,400,   // camera position (x, y, z)
         500   , 0,    350,   // camera target (look at position) (x, y, z)
         0   ,    1,    1);*/
         camera(410, 660, 360, 420, 0,300, 0, 0, 1);

        count=0

        background("#964B00");
        count2=0
      
      for (let v in blocks){
        for (let i in blocks[v]){
          ambientLight(100); // white light
          ambientMaterial(255, 102, 94);
          stroke("black")
          //fill('rgba(0,0,255, 0.25)');
          fill(colours[blocks[v][i]-1])
          push()
          
          //text(block_hp[v][i])
          translate(i*HEIGHT,0,v*WIDTH)
          box(HEIGHT,-140+block_height[v][i],WIDTH)
          pop()
          //image(colours[blocks[v][i]-1],(i)*200,(v)*140,200,140)
          
        }
      }
      for (let i in collisions){
        push()
        fill('rgba(0,50,200, 0.25)');
        var d = dist(collisions[i][0]*HEIGHT,collisions[i][1]*WIDTH,x-70,y-70)
        if (d < collisions[i][2]+30){
          x_vector = (x-70-collisions[i][0]*HEIGHT)*0.2
          y_vector = (y-70-collisions[i][1]*WIDTH)*0.2
          x += x_vector
          y += y_vector
        }
      noStroke()
      translate(collisions[i][0]*HEIGHT,100,collisions[i][1]*WIDTH)
      sphere(collisions[i][2]+30);
      pop()
      }
      if (anger==true){
        push()
        fill("rgba(255,0,0,1)")
      //text("You",x-10,y-60)
      noStroke()
      translate(x-70,100,y-70)
      sphere(70);
      pop()
      }
      else if(place_stone==true){
      push()
      fill(130)
      //text("You",x-10,y-60)
      noStroke()
      translate(x-70,100,y-70)
      sphere(70);
      pop()
      }
      else if (place_collision==true){
      fill("blue")
      noStroke()
      translate(x-70,100,y-70)
      sphere(70);
      pop()
      }
      for (i in players){
        push()
        fill("rgb(0,50,230)")
      //text("You",x-10,y-60)
      noStroke()
      translate(players[i][1][0]-70,100,players[i][1][1]-70)
      sphere(40);
      pop()
        //text(players[i][0],players[i][1][0],players[i][1][1]-60)

      }
      x-=xspeed
      y+=yspeed
      if ((x>1000) || (x<0) || (y>700) || (y<0)){
        var direction=""
        if (x>1000){
          direction="right"
        }
        else if(x<0){
          direction="left"
        }
        else if(y>700){
          direction="up"
        }
        else{
          direction="down"
        }

        opts={
          username:username,
          direction:direction
        }
        pause= true

        fetch('/change_quadrant', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(opts)
        }).then(function(text){
          x=500
          y=350
          get_planet_data()
          for (let v; v<=10;v++){
            block_hp.push([])
            for (let i;i<=10;i++){
              block_hp[v].push(100)
            }
          }
        })
      }
      fill(200)
      //text("You",x-10,y-60)
      noStroke()
      translate(x-70,100,y-70)
      sphere(40);
      //stroke()

    }
    else{
      count+=1
      console.log("paused")
      if (count >= 60){
        pause=false
      }
    }
    }



    //till here



    function keyPressed() {
	switch(keyCode) {
		case 37:
		case 65:
			xspeed += -2;
			break;
		case 39:
		case 68:
			xspeed += 2;
			break;
		case 38:
		case 87:
			yspeed += -2;
			break;
		case 40:
		case 83:
			yspeed += 2;
			break;
	}
}

function keyReleased() {
	switch(keyCode) {
		case 37:
		case 65:
			xspeed = 0;
			break;
		case 39:
		case 68:
			xspeed = 0;
			break;
		case 38:
		case 87:
			yspeed = 0;
			break;
		case 40:
		case 83:
			yspeed = 0;
			break;
	}
}

function mousePressed(){
  if (mine_mode_button==true){
    anger = true
    console.log(y)
    for (let v in blocks){
      for (let i in blocks[v]){
        if ((((i*HEIGHT)-x+100)*((i*HEIGHT)-x+100)+((v*WIDTH)-y+70)*((v*WIDTH)-y+70)) < (50*50)){
          block_hp[v][i] -= 20
          console.log(v)
          console.log(i)
          if (block_hp[v][i]<=0){
            console.log(v)
            console.log(i)
            console.log("yo")
            block_hp[v][i]=100
            landscape_edit=[i,v,Math.floor(Math.random()*6+3)]
          }
        }
      }
    }
    for (let v in collisions){
      if ((((collisions[v][0]*HEIGHT)-x+100)*((collisions[v][0]*HEIGHT)-x+100)+((collisions[v][1]*WIDTH)-y+70)*((collisions[v][1]*WIDTH)-y+70)) < ((collisions[v][2]+20)*(collisions[v][2]+20))){
        collisions_delete = [collisions[v][0],collisions[v][1]]
      }
    }
  }
  else if (place_stone_button == true){
    place_stone = true
    for (let v in blocks){
      for (let i in blocks[v]){
        if ((((i*HEIGHT)-x+100)*((i*HEIGHT)-x+100)+((v*WIDTH)-y+70)*((v*WIDTH)-y+70)) < (50*50)){
          landscape_edit=[i,v,5]
        }
      }
    }
  }
  else if (place_collision_button == true){
    place_collision = true
    collision_edit=[x-70,y-70,35]
  }
}
function mouseReleased(){
  anger = false
  place_collision = false
  place_stone = false
}
  </script>
</body>
</html>