<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <span id="username">{{username}}</span>
  <ul>
  {% for i in planets %}
  <li>Planet : {{i.0}}, owned by {{i.1}} </li><button onclick="join_player('{{i.0}}')">jump to planet!</button>
  {% endfor %}
  </ul>
  <script>
    var username=document.getElementById("username")
    function join_player(planet){
      var opts={
        username:username,
        planet:planet
      }
      fetch('/join_planet', {
          method: 'POST',
          headers: {
  'Content-Type': 'application/json',
  },
          body: JSON.stringify(opts)
        })
        window.location.replace("/planet_player");

    }
  </script>
</body>
</html>