<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <span id="username">{{username}}</span>
  <ul>
  {% for i in players %}
  <li>{{i.username}} is online </li><button onclick="join_player('{{i.username}}')">join player!</button>
  {% endfor %}
  </ul>
  <script>
    var username=document.getElementById("username")
    function join_player(user){
      var opts={
        username:username,
        username_player:user
      }
      fetch('/join_game', {
          method: 'POST',
          headers: {
  'Content-Type': 'application/json',
  },
          body: JSON.stringify(opts)
        })
              window.location.replace("/planet_player");

    }
  </script>
</body>
</html>